@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-arabic: var(--font-noto-sans-arabic);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

@tailwind utilities;

@keyframes circle-progress {
	0% {
		stroke-dashoffset: 100.53;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

.circle-progress {
	animation: circle-progress 5s linear infinite;
	transform: rotate(-90deg);
	transform-origin: center;
}
